<h1>Budgets</h1>

<%= link_to 'Create new budget', new_budget_path %>

<table>
    <tr>
        <th>Category</th>
        <th>Budgeted</th>
        <th>Actual</th>
        <th>Available</th>
    </tr>

    <% @budgets.each do |budget| %>
        <tr>
            <th><%= budget.category.category_name %></th>
            <th><%= link_to budget.budgeted_value, edit_budget_path(budget) %></th>
            <th><% @transactions.where(budget_id: budget.id).each do |transaction| %>
                <%= transaction.actual_value %>
                <% end %>
            </th>
            <th><%= budget.budgeted_value %></th>
            <th><%= link_to 'Delete', budget_path(budget), method: :delete %></th>
        </tr>
    <% end %>
</table>