<h1>Budgets</h1>

<table>
    <tr>
        <th>Category</th>
        <th>Budgeted</th>
        <th>Actual</th>
        <th>Available</th>
        <th></th>
    </tr>

    <% @budgets.each do |budget| %>
        <tr>
            <td><%= budget.category.category_name %></td>
            <td><%= link_to budget.budgeted_value, edit_budget_path(budget) %></td>
            <td>
            <% if budget.actual_value %>
                <%= link_to budget.actual_value, edit_budget_path(budget) %>
            <% else %>
                <%= link_to '+', edit_budget_path(budget) %>
            <% end %>
            </td>
            <% if budget.available(budget)>= 0 %>
                <td class="positive"><%= budget.available(budget) %></td>
            <% else %>
                <td class="negative"><%= budget.available(budget) %></td>
            <% end %>
            <td><%= link_to budget_path(budget), method: :delete do %>
                    <i class="fas fa-trash-alt"></i>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>


<%= link_to 'New Budget', new_budget_path %>
<%= link_to 'New Category', new_category_path %>